* {
    padding:0;
    margin:0;
}
.possum-logo{
    Height: 120px;
    width: 120px;
    padding-left: 3%;
}
.header-fade{
    height: 40px;
    width: 100%;
    background-image:linear-gradient(black, transparent);
}
.opaque-top-rectangle{
    display: flex;
    height: 100px;
    width: 100%;
    background-color:black;
    color: white;
    font-size: 90px;
}